<div class="total" id="contacto" [@enterState]>
    <div class="content-contact">
        <h2>Contacto</h2>
        <div *ngIf="!sended" id="loading">
            <img src="../../../assets/img/load.gif">
        </div>
        <div *ngIf="sended" id="contact">
            <form id="contact-form" #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
                <div>
                    <label for="name">Nombre</label><br>
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="emailData.name" required><br>
                    <span class="required-form" *ngIf="name.touched && !name.valid">
                        Nombre obligatorio
                    </span>
                </div>

                <div>
                    <label for="last_name">Apellido</label><br>
                    <input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="emailData.lastName" required>
                    <span class="required-form" *ngIf="last_name.touched && !last_name.valid">
                        Apellido obligatorio
                    </span>
                </div>
                <div>
                    <label for="email">Email</label><br>
                    <input type="text" name="email" #email="ngModel" [(ngModel)]="emailData.email" required>
                    <span class="required-form" *ngIf="email.touched && !email.valid">
                        Email obligatorio
                    </span>
                </div>
                <div>
                    <label for="phone">Telefono/Celular</label><br>
                    <input type="number" name="phone" #phone="ngModel" [(ngModel)]="emailData.phone" required>
                    <span class="required-form" *ngIf="phone.touched && !phone.valid">
                        Telefono obligatorio
                    </span>
                </div>
                <div class="form-big">
                    <label for="consult">Consulta</label><br>
                    <textarea name="consult" #consult="ngModel" [(ngModel)]="emailData.consult" required></textarea>
                    <span class="required-form-big" *ngIf="consult.touched && !consult.valid">
                        Consulta obligatoria
                    </span>
                </div>
                <br>
                <br>
                <br>
                <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
            </form>
        </div>
    </div>
</div>