<div class="total" id="sobre-mi" [@enterState]>
    <div class="content-about">
        <h2>Sobre mi</h2>
        <div id="info">
            <span id="foto">
                <img src="../../../assets/img/yo.jpg">
            </span>

            <div id="data-about">
                <p>
                    Me califico como una persona altamente proactiva, productiva, honesta y con mucha capacidad
                    resolutiva
                    para cualquier tipo de problema que se me presente, tanto tecnológico como social.
                    Emprendedor y buscador de retos es lo que engloba mi
                    personalidad, por lo que el trato con mis pares siempre es una prioridad, así como también, con los
                    clientes y/o prospectos.
                </p><br>
                <p>
                    Soy un gran apasionado con el mundo del la tecnología, siempre estoy aprendiendo
                    algo nuevo y aplicándolo a mis trabajos, por lo que no conocer de algún tópico no
                    me es un despedimiento sino un desafió y una oportunidad.
                </p><br>
                <p>
                    En todos los ámbitos laborales en los que me vi involucrado resalto por ser extremadamente
                    detallista pero lógico en cuanto a tiempos, por lo que considero que mi trabajo tiene un buen
                    balance de calidad/tiempo.
                </p>
            </div>

            <div class="clearfix"></div>
        </div>

        <h2 id="reconocimentos">Reconocimientos</h2>
        <img class="rec" src="../../../assets/img/anden.jpg" alt="">
        <img class="rec" src="../../../assets/img/tecme.jpg" alt="">
        <img class="rec" src="../../../assets/img/co.jpg" alt="">
        <img class="rec" src="../../../assets/img/ag.jpg" alt="">

        <h2 id="reconocimentos">Certificaciones</h2>
        <img class="rec" src="../../../assets/img/css.jpg" alt="">
        <img class="rec" src="../../../assets/img/js.jpg" alt="">
        <img class="rec" src="../../../assets/img/jsf.jpg" alt="">
        <img class="rec" src="../../../assets/img/deploy.jpg" alt="">
        
    </div>

</div>