<div class="total" id="sobre-mi" [@enterState]>
    <div class="content-about">
        <h2>About Me</h2>
        <div id="info">
            <span id="foto">
                <img src="../../../assets/img/yo.png">
            </span>

            <div id="data-about">
                <p>
                    I am a challenger lover, I am always looking to grow up and improve my dev/social skills. <br>
                    I find it easy to deal with people, listen to them and learn from them. <br>
                    I like leadership and it is my goal in every aspect of my life. <br>
                    I don't like mediocrity, I am always looking for a better way to do things and encourage my team. <br>
                    Last but not least, I am always in a good mood which helps to achieve a good work environment.

                </p>
            </div>

            <div class="clearfix"></div>
        </div>

        <h2 id="reconocimentos">Acknowledgments</h2>
        <img class="rec" src="../../../assets/img/anden.jpg" alt="">
        <img class="rec" src="../../../assets/img/tecme.jpg" alt="">
        <img class="rec" src="../../../assets/img/co.jpg" alt="">
        <img class="rec" src="../../../assets/img/ag.jpg" alt="">

        <h2 id="reconocimentos">Certifications</h2>
        <img class="rec" src="../../../assets/img/css.jpg" alt="">
        <img class="rec" src="../../../assets/img/js.jpg" alt="">
        <img class="rec" src="../../../assets/img/jsf.jpg" alt="">
        <img class="rec" src="../../../assets/img/deploy.jpg" alt="">
        
    </div>

</div>