<header id="header">
    <div id="fijo">
        <span id="menu-title">FG<strong>WEB</strong></span>
        <span id="menu-toggle" (click)="menu()"><ion-icon name="menu-outline"></ion-icon></span>
        <div class="clearfix"></div>
    </div>
    <nav id="menu">
        <ul>
            <li><span (click)="leave('home')">HOME</span></li>
            <li><span (click)="leave('sobre-mi')">ABOUT ME</span></li>
            <li id="logo"><span id="logo-animado"><ion-icon name="logo-angular"></ion-icon></span></li>
            <li><span (click)="leave('trabajos')">PROJECTS</span></li>
            <li><span (click)="leave('contacto')">CONTACT</span></li>
        </ul>
    </nav>
</header>